.card {
  --v-padding: 2rem;
  --h-padding: 2rem;
  background-color: var(--white);
  padding: var(--v-padding) var(--h-padding);
  border-radius: 20px;
  box-shadow: var(--basic-shadow);
}

.card > * + * {
  margin-top: 2rem;
}

@media (max-width: 480px) {
  .card {
    --v-padding: 2rem;
    --h-padding: 1rem;
  }
}

.banner {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 30vw;
  max-height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: calc(var(--v-padding) * -1) calc(var(--h-padding) * -1) 0;
}

.banner:after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  content: "";
  background: linear-gradient(transparent, rgba(0, 0, 0));
}
