.button {
  --margin: 1rem;

  position: fixed;
  bottom: var(--margin);
  right: var(--margin);

  background-color: transparent;
  padding: 0;
  border: none;
  color: var(--dark-grey);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.button:focus {
  filter: brightness(0.9);
  transform: scale(1.2);
}

.svg {
  --svg-size: 30px;

  fill: currentColor;
  width: var(--svg-size);
  vertical-align: middle;
}

@media (hover: hover) {
  .button:hover {
    filter: brightness(0.9);
    transform: scale(1.2);
  }
}

@media (max-width: 900px) {
  .button {
    --margin: 0.5rem;
  }

  .svg {
    --svg-size: 20px;
  }
}

@media (max-width: 480px) {
  .button {
    z-index: 1;
    padding: 0.2em;
    border-radius: 50%;
  }

  .button::before {
    position: absolute;
    inset: 0;

    border-radius: 50%;
    content: "";
    background-color: var(--white);
    filter: drop-shadow(5px 5px 10px var(--black));
  }
}
