html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

* {
  position: relative;

  box-sizing: border-box;
}

pre {
  overflow: auto;
}

:root {
  --blue: #66ccff;
  --yellow: #ccff33;
  --pink: #f42a77;
  --green: #33c18b;
  --black: #000000;
  --white: #ffffff;
  --dark-grey: #444444;
  --light-grey: #bbbbbb;

  --basic-shadow: 0px -1px 22px -3px rgba(0, 0, 0, 0.36);
  --dark-shadow: 5px 5px 5px rgba(0, 0, 0, 0.36);
  --image-shadow: 5px 5px var(--dark-grey);
}
