.logo {
  stroke: var(--white);
  width: 200px;
  filter: drop-shadow(var(--dark-shadow));
}

@media (max-width: 1400px) {
  .logo {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 30px;
  }
}
